body {
    padding-top: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    margin-left: -10px;
    margin-top: 20px;
}

.container {
    max-width: 400px;
}

.container > .row {
    margin-left: 0px;
}

.container > footer {
    margin-top: 20px;
    color: #999;
    border: none;
    margin-left: -10px;
}

.container > footer p {
    text-align: center;
}

.alert {
    text-align: center;
}

.form-vertical {
    background-color: #f5f5f5;
    padding: 20px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    width: 220px;
    margin: 0px auto;
}

.form-vertical .actions {
    -webkit-border-radius: 0px 0px 3px 3px;
    -moz-border-radius: 0px 0px 3px 3px;
    border-radius: 0px 0px 3px 3px;
}

.control-label {
    font-weight: bold;
}

a.btn {
    position: relative;
    bottom: -2px;
}
