.input-prepend .btn.dropdown-toggle {
    float: none;
    bottom: 0px;
}

#daterangepicker .btn-group {
	font-size: inherit !important;
}

#start {
	margin-left: -5px;
}

#daterangepicker .btn-group > span {
	vertical-align: sub;
}

#daterangepicker .dropdown-menu a,
#daterangepicker .dropdown-menu .ui-icon {
	display: block;
	text-shadow: none;
}
#daterangepicker .ui-icon {
	position: absolute;
	right: .3em;
}
#daterangepicker .dropdown-menu {
	text-align: left;
}
