/* -----------------------------------------------------------------------


 Blueprint CSS Framework 0.8
 http://blueprintcss.org

   * Copyright (c) 2007-Present. See LICENSE for more info.
   * See README for instructions on how to use Blueprint.
   * For credits and origins, see AUTHORS.
   * This is a compressed file. See the sources in the 'src' directory.

----------------------------------------------------------------------- */

/* reset.css */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
body {line-height:1.5;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;}
table, td, th {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}
a img {border:none;}

/* typography.css */
body {font-size:75%;color:#222;background:#fff;font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;}
h1, h2, h3, h4, h5, h6 {font-weight:normal;color:#111;}
h1 {font-size:3em;line-height:1;margin-bottom:0.5em;}
h2 {font-size:2em;margin-bottom:0.75em;}
h3 {font-size:1.5em;line-height:1;margin-bottom:1em;}
h4 {font-size:1.2em;line-height:1.25;margin-bottom:1.25em;}
h5 {font-size:1em;font-weight:bold;margin-bottom:1.5em;}
h6 {font-size:1em;font-weight:bold;}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin:0;}
p {margin:0 0 1.5em;}
p img.left {float:left;margin:1.5em 1.5em 1.5em 0;padding:0;}
p img.right {float:right;margin:1.5em 0 1.5em 1.5em;}
a:focus, a:hover {color:#000;}
a {color:#009;text-decoration:underline;}
blockquote {margin:1.5em;color:#666;font-style:italic;}
strong {font-weight:bold;}
em, dfn {font-style:italic;}
dfn {font-weight:bold;}
sup, sub {line-height:0;}
abbr, acronym {border-bottom:1px dotted #666;}
address {margin:0 0 1.5em;font-style:italic;}
del {color:#666;}
pre {margin:1.5em 0;white-space:pre;}
pre, code, tt {font:1em 'andale mono', 'lucida console', monospace;line-height:1.5;}
li ul, li ol {margin:0 1.5em;}
ul, ol {margin:0 1.5em 1.5em 1.5em;}
ul {list-style-type:disc;}
ol {list-style-type:decimal;}
dl {margin:0 0 1.5em 0;}
dl dt {font-weight:bold;}
dd {margin-left:1.5em;}
table {margin-bottom:1.4em;width:100%;}
th {font-weight:bold;}
thead th {background:#c3d9ff;}
th, td, caption {padding:4px 10px 4px 5px;}
tr.even td {background:#e5ecf9;}
tfoot {font-style:italic;}
caption {background:#eee;}
.small {font-size:.8em;margin-bottom:1.875em;line-height:1.875em;}
.large {font-size:1.2em;line-height:2.5em;margin-bottom:1.25em;}
.hide {display:none;}
.quiet {color:#666;}
.loud {color:#000;}
.highlight {background:#ff0;}
.added {background:#060;color:#fff;}
.removed {background:#900;color:#fff;}
.first {margin-left:0;padding-left:0;}
.last {margin-right:0;padding-right:0;}
.top {margin-top:0;padding-top:0;}
.bottom {margin-bottom:0;padding-bottom:0;}

/* forms.css */
label {font-weight:bold;}
fieldset {padding:1.4em;margin:0 0 1.5em 0;border:1px solid #ccc;}
legend {font-weight:bold;font-size:1.2em;}
input.text, input.title, textarea, select {margin:0.5em 0;border:1px solid #bbb;}
input.text:focus, input.title:focus, textarea:focus, select:focus {border:1px solid #666;}
input.text, input.title {width:300px;padding:5px;}
input.title {font-size:1.5em;}
textarea {width:390px;height:250px;padding:5px;}
.error, .notice, .success {padding:.8em;margin-bottom:1em;border:2px solid #ddd;}
.error {background:#FBE3E4;color:#8a1f11;border-color:#FBC2C4;}
.notice {background:#FFF6BF;color:#514721;border-color:#FFD324;}
.success {background:#E6EFC2;color:#264409;border-color:#C6D880;}
.error a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}

.box {padding:1.5em;margin-bottom:1.5em;background:#E5ECF9;}
hr {background:#ddd;color:#ddd;clear:both;float:none;width:100%;height:.1em;margin:0 0 1.45em;border:none;}
hr.space {background:#fff;color:#fff;}
.clearfix:after, .container:after {content:"\0020";display:block;height:0;clear:both;visibility:hidden;overflow:hidden;}
.clearfix, .container {display:block;}
.clear {clear:both;}

/* -----------------------------------------------------------------------

 LIMONADE
 
 Design and logo by <a href="http://www.minimau.com">Minimau</a>

----------------------------------------------------------------------- */

html {
 	background-color: #b4a689;
 	text-align: center;
 	}
 	body {
 		width: auto; /* 16 col */
 		margin: 0 20px;
 		text-align: left;
 		/*background: #fff url(blueprint/src/grid.png);*/
 		font-family: Verdana, Geneva, sans-serif;
 		color: #303030;
 		}
 		a, a:hover, a:visited {
 			color: #4596cd;
 			}
 		a:hover {
 			text-decoration: none;
 			}
 		#header, h1, h2, h3, h4 {
 			font-family: "Arial Black", Gadget, sans-serif;
 			}
 		h1 {
 			color: #b4a689;
 			font-size: 2em;
 			line-height: 2;
 			border-bottom: 7px solid #000;
 			margin-bottom: 0.75em;
 			margin-top:0;
 			}
 		h2 {
 			font-size: 1.5em;
 			color: #cddb12;
 			margin-top: 2em;
 			line-height: 0.8;
 			margin-bottom: 1.2em;
 			}
 		h3 {
 			font-size: 1.33em;
 			line-height: 0.89;
 			margin-top: 2.66em;
 			margin-bottom: 1.33em;
 			color:#95b383;
 			}
 		pre {
 			background-color: #cddb12;
 			font-size: 12px;
 			padding: 1.5em;
 			margin-bottom: 1.5em;
 			overflow: auto;
 			}
 		code {
 			font: 10px Monaco, "Courier New", Courier, monospace;
 			color: #0d562a;
 			}
 		#header {
 			/*position:relative;*/
 			height: 187px; /* 12 lines */
 			background: #fff url(<?php print url_for('/_lim_public/img/bg_header.png'); ?>) no-repeat 0 0;
 			margin-top: 10px;
      padding:0;
 			}
 			#header h1 {
 				position: absolute;
 				left:-9999px;
 				   			margin:0;
 				}
 		#footer {
 			padding: 0 55px;
 			background-color: #1a1818;
 			color: #999;
 			height: 2em;
 			line-height: 2em;
 			text-align: right;
 			}
 			#footer a {
 				color: #a3d8de;
 				text-decoration: none;
 				}
 			#footer a:hover {
 				color: #fff;
 				}
 		#content {
 		  background-color: #fff;
 			padding: 0 55px;
 			min-height: 400px;
 			}
    		p.bt {
    		   text-align:right;
    		   }
       		p.bt a {
       		   text-decoration:none;
       		   padding: 2px 4px;
       		   }
       		p.bt a:hover {
      	      background-color: #4596cd;
      	      color: #fff;
      	      }
      	#debug-menu {
      	   position: fixed;
      	   top: 0px;
      	   right:20px;
      	   background-color: rgba(100,100,100, 0.7);
      	   padding:5px;
      	}
      	#debug-menu a {
      	   color: #fff;
      	   font-size: 90%;
      	   text-decoration:none;
   	   }
   	   #debug-menu a:hover {
   	      text-decoration: underline;
	      }
   	